parameters:
    level: 8
    paths:
        - src
        - public
    excludePaths:
        analyse:
            - src\Article\db
            - src\Auth\db
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#^Method .* should return Psr\\Http\\Message\\ResponseInterface but returns Psr\\Http\\Message\\MessageInterface\.$#'
        - '#^Parameter \#1 \$request of method Psr\\Http\\Server\\RequestHandlerInterface\:\:handle\(\) expects Psr\\Http\\Message\\ServerRequestInterface, Psr\\Http\\Message\\RequestInterface given\.$#'
        - '#^Condition "E of Framework\\Database\\Entity\\Entity is null" in conditional return type is always false\.$#'
        - '#^Unable to resolve the template type T in call to method static method Framework\\Database\\Entity\\Entity::hydrate\(\)#'
        - '#^Call to an undefined method T of object::__set\(\)#'
        - '#^Call to an undefined method Framework\\Database\\Table\\Table::findArticleFromUser\(\)#'