<li class="nav-item">
    <a class="nav-link {{is_subpath('article.index') ? 'active'}}" href="{{ pathFor('article.index') }}">Accueil</a>
</li>
<li class="nav-item">
    <a class="nav-link {{is_subpath('article.browse.index') ? 'active'}}" href="{{pathFor('article.browse.index')}}">Parcourir</a>
</li>