<div class="card mt-3">
    <div class="card-body">
        <h4 class="card-title">Utilisateurs actuel : {{countUser}}</h4>
        <a href="{{pathFor('admin.user.index')}}" class="btn btn-primary">Gérer les utilisateurs</a>
    </div>
</div>