<li class="nav-item">
    <a class="nav-link {{is_subpath('admin.article.index') ? 'active'}}" href="{{ pathFor('admin.article.index') }}">Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link {{is_subpath('admin.categorie.index') ? 'active'}}" href="{{ pathFor('admin.categorie.index') }}">Catégories</a>
</li>